:root {
    --dark: #0a0a0a;
    --light: #ffffff;
    --lavender: #d4e5f3;
    --blue: #3874b9;
}

body{
    background-color: #d4e5f3;
    font-family: 'Roboto', sans-serif;
}

.blue{
    background-color: var(--blue);
    color: #3874b9;
}

.text-blue{
    color: var(--blue) !important;
}

.b-right{
    padding-right: 0.5rem;
}

#cover{
    background-image: url('./assets/cover.png');
    background-size: cover;
    height: 90vh;
    background-position: right bottom;
    display: block;
    margin: 0%;
    padding: 0%;
    position: center;
}

.py-6 {
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.py-8 {
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    border: none;
    background-color: transparent;
}

.p-bt {
    padding-bottom: 4rem;
}

.navbar.navbar-expand-lg.navbar-light li a{
    color: #3874b9 !important;
    font-weight: 700 !important;
    font-family: 'Monserrat', sans-serif !important;
}

.nav-services{
    font-weight: 700 !important;
    font-family: 'Monserrat', sans-serif !important;
}

.light{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.no-p{
    padding-right: 0%;
}

.p-top{
    padding-top: 8rem;
}

.p{
    padding-top: 3rem;
}

.pp{
    padding-top: 2rem;
}
.c{
    padding-left: 6rem;
    padding-right: 0rem;
}

.no-b{
    padding-bottom: 0%;
}

.p-b{
    padding-bottom: 2rem;
}

.bb{
    padding-bottom: 4rem;
}

ion-icon {
    color: #3874b9;
  }

.p-l{
    padding-left: 3rem;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

  /* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-outline-primary:active {
    background-color: #fff !important;
    color: #3874b9 !important;
    border-color: #3874b9;
}

.btn-outline-primary:hover {
    background-color: #3874b9 !important;
    border-color: #3874b9 !important;
}

a.effect-underline:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: var(--blue);
    transition: width .3s;
}

a.effect-underline:hover:after {
    width: 100%;
    transition: width .3s;
}

.effect-underline:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: var(--blue);
    transition: width .3s;
}

.effect-underline:hover:after {
    width: 100%;
    transition: width .3s;
}

.p-btm{
    padding-bottom: 5rem;
}

.py-8 {
    padding-top: 12rem;
    padding-bottom: 2rem;
}

.border-primary{
    border-color: #3874b9 !important;
    border-width: 1rem;
}